# Ignore texmaker binary outputs
*.aux
*.pdf
*.gz
*.log
*.bbl
*.blg

# Ignore MATLAB autosave files
*.asv

# Ignore data files
data
*.dat

# Ignore Python Cache
__pycache__

# Ignore compiled GNU radio module
gr-xm_module
