# Ignore texmaker binary outputs
*.aux
*.pdf
*.gz
*.log
*.bbl
*.blg
*.toc

# Ignore MATLAB autosave files
*.asv

# Ignore data files
data
*.dat
*.npy
*.mat

# Ignore backup files
*.bak

# Ignore Python Cache
__pycache__

# Ignore compiled GNU radio module
gr-xm_module

# Ignore extra .git files
*.orig
